<header class="header header-absolute"> 
    <!-- Top Bar-->
    <div class="top-bar text-sm">
      <div class="container-fluid px-lg-5 py-3">
        <div class="row align-items-center">
          <div class="col-md-4 d-none d-md-block">
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-2"><a class="text-reset text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a></li>
              <li class="list-inline-item me-4"><a class="text-reset text-primary-hover" href="#"><i class="fab fa-twitter"> </i></a></li>
              <li class="list-inline-item me-2">
                <svg class="svg-icon me-2">
                  <use xlink:href="#calls-1"> </use>
                </svg>020-800-456-747
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 text-start text-md-center">
            <p class="mb-0">Free in-store delivery</p>
          </div>
          <div class="col-sm-6 col-md-4 d-none d-sm-flex justify-content-end">
            <!-- Language Dropdown-->
            <div class="dropdown border-right px-3"><a class="dropdown-toggle topbar-link" id="langsDropdown" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">English</a>
              <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end" aria-labelledby="langsDropdown"><a class="dropdown-item" href="#">German</a><a class="dropdown-item" href="#">French</a></div>
            </div>
            <!-- Currency Dropdown-->
            <div class="dropdown ps-3 ms-0"><a class="dropdown-toggle topbar-link" id="currencyDropdown" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">USD</a>
              <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end" aria-labelledby="currencyDropdown"><a class="dropdown-item" href="#">EUR</a><a class="dropdown-item" href="#"> GBP</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar End-->
    <nav class="navbar navbar-expand-lg bg-transparent navbar-light px-lg-5 "><a class="navbar-brand" routerLink="/home">Varkala</a>
      <ul class="list-inline mb-0 d-block d-lg-none">
        <li class="list-inline-item me-3"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="#avatar-1"> </use>
            </svg></a></li>
        <li class="list-inline-item me-3"><a class="text-dark text-primary-hover position-relative" href="https://demo.bootstrapious.com/varkala/2-1/wishlist.html">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="#heart-1"> </use>
            </svg>
            <div class="navbar-icon-badge">3</div></a></li>
        <li class="list-inline-item position-relative me-3"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#sidebarCart">
            <svg class="svg-icon navbar-icon">
              <use xlink:href="#retail-bag-1"> </use>
            </svg>
            <div class="navbar-icon-badge">5</div></a></li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="svg-icon navbar-icon">
          <use xlink:href="#menu-hamburger-1"> </use>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mt-3 mt-lg-0">
          @for(category of productService.categories();track category.id){
            <li class="nav-item">
              <a class="nav-link "  [routerLink]="'/shop/'+category.slug | lowercase">{{category.name}}</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link "  routerLink="/detail">Détail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLink="/contact">Contact</a>
          </li>
   
        </ul>
        <form class="d-lg-flex ms-auto me-lg-5 me-xl-6 my-4 my-lg-0" action="#">
          <div class="input-group input-group-underlined">
            <input class="form-control form-control-underlined ps-3" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search">
            <button class="btn btn-underlined" id="button-search" type="button"> 
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#search-1"> </use>
              </svg>
            </button>
          </div>
        </form>
        <ul class="list-inline mb-0 d-none d-lg-block">

          @if(authService.isAuthenticated){
            <div class="dropdown list-inline-item me-3">
              <fa-icon [icon]="faUser" size="2xl" data-bs-toggle="dropdown" class="cursor"></fa-icon>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item cursor">
                  <div class="loginContainer d-flex align-items-center gap-2 my-2">
                    <div class="iconHeader">
                      <fa-icon [icon]="faUserSolid" size="2xl"></fa-icon>
                    </div>
                    <p class="m-0">Mon profil</p>
                  </div>
                </li>
                <li class="dropdown-item cursor">
                  <div class="loginContainer d-flex align-items-center gap-2 my-2">
                    <div class="iconHeader">
                      <fa-icon [icon]="faBell" size="2xl"></fa-icon>
                    </div>
                    <p class="m-0">Mes commandes</p>
                  </div>
                </li>
  
                <li class="dropdown-item cursor">
                  <div class="loginContainer d-flex align-items-center gap-2 my-2">
                    <div class="iconHeader">
                      <fa-icon [icon]="faHeartSolid" size="2xl"></fa-icon>
                    </div>
                    <p class="m-0">Ma liste de souhait</p>
                  </div>
                </li>
  
                <li class="dropdown-item cursor" (click)="authService.logout()">
                  <div class="loginContainer d-flex align-items-center gap-2 my-2">
                    <div class="iconHeader iconLogout">
                      <fa-icon [icon]="faRightFromBracket" size="2xl"></fa-icon>
                    </div>
                    <p class="m-0">Déconnexion</p>
                  </div>
                </li>
              </ul>
            </div>
          }@else if(router.url !== "/login"){
            <li class="list-inline-item me-3" routerLink="/login"><a class="text-dark text-primary-hover">
              <fa-icon [icon]="faUser" size="2xl"></fa-icon>
            </a></li>
          }
          <li class="list-inline-item me-3"><a class="text-dark text-primary-hover position-relative" href="https://demo.bootstrapious.com/varkala/2-1/wishlist.html">
            <fa-icon [icon]="faHeart" size="2xl"></fa-icon>
              <div class="navbar-icon-badge">3</div></a></li>
          <li class="list-inline-item position-relative me-3"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#sidebarCart">
            <fa-icon [icon]="faCartShopping" size="2xl"></fa-icon>
              <div class="navbar-icon-badge">5</div></a></li>
          <li class="list-inline-item"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#sidebarRight">
            <fa-icon [icon]="faUser" size="2xl"></fa-icon>
            </a></li>
        </ul>
      </div>
    </nav>
  </header>