<div class="mb-5">
    <h3 class="mb-5">Change your password</h3>
    <form>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="password_old">Old password</label>
            <input class="form-control" id="password_old" type="password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="password_1">New password</label>
            <input class="form-control" id="password_1" type="password">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="form-label" for="password_2">Retype new password</label>
            <input class="form-control" id="password_2" type="password">
          </div>
        </div>
      </div>
      <div class="mt-4">
        <button class="btn btn-dark" type="submit"><i class="far fa-save me-2"></i>Change password</button>
      </div>
    </form>
  </div>
  <hr class="mb-5">
  <h3 class="mb-5">Personal details</h3>
  <form>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="firstname">Firstname</label>
          <input class="form-control" id="firstname" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="lastname">Lastname</label>
          <input class="form-control" id="lastname" type="text">
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="company">Company</label>
          <input class="form-control" id="company" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="street">Street</label>
          <input class="form-control" id="street" type="text">
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="mb-3">
          <label class="form-label" for="city">Company</label>
          <input class="form-control" id="city" type="text">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="mb-3">
          <label class="form-label" for="zip">ZIP</label>
          <input class="form-control" id="zip" type="text">
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="mb-3">
          <label class="form-label" for="state">State</label>
          <select class="form-control" id="state"></select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="mb-3">
          <label class="form-label" for="country">Country</label>
          <select class="form-control" id="country"></select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="phone">Telephone</label>
          <input class="form-control" id="phone" type="text">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label class="form-label" for="emailAccount">Email</label>
          <input class="form-control" id="emailAccount" type="text">
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="mt-4"></div>
    <button class="btn btn-dark" type="submit"><i class="far fa-save me-2"></i>Save changes</button>
  </form>