<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
            <div class="swiper-slide"><div class="swiper-slide-container">Slide 1</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 2</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 3</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 4</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 5</div></div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
            <div class="swiper-slide"><div class="swiper-slide-container">Slide 1</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 2</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 3</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 4</div></div>
<div class="swiper-slide"><div class="swiper-slide-container">Slide 5</div></div>
    </div>
</div>